body{
    background-color: rgb(255, 129, 74);
    align-content: center;
}

div  {
  color: #fff493;
}

h1 {
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 5px solid rgb(139, 91, 46);
  margin: 0;
  font-family: monospace;
}